<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="all">
	<locations>
		<location includeAllPlatforms="false" includeMode="slicer" includeSource="false"
				type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/helios"/>
			<unit id="org.eclipse.rcp.feature.group"
					version="3.6.2.r362_v20101104-9SAxFMKFkSAqi8axkv1ZjegmiBLY"/>
		</location>
	</locations>
</target>
